#root {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.cell-list {
  display: flex;
  position: relative;
}

.cell-list .position-label {
  position: absolute;
}

.column-A {
  left: 70px;
  top: -18px;
}

.column-B {
  left: 220px;
  top: -18px;
}

.column-C {
  left: 370px;
  top: -18px;
}

.row-1 {
  left: -15px;
  top: 60px;
}

.row-2 {
  left: -15px;
  top: 210px;
}

.row-3 {
  left: -15px;
  top: 370px;
}

.cell-list .column {
  display: flex;
  flex-direction: column;
}

.cell-list .cell {
  display: flex;
  min-width: 150px;
  min-height: 150px;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
}

.fields {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.move-log {
  text-align: center;
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
}

.form-component {
  text-align: center;
}
.form-component span {
  padding-right: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}